.body
  .header 
    .header__bar
      = link_to root_path do
        %h.title ShareMe
      .current_user_name
        = @nickname

  .contents
    .contents_user_info
      = @nickname
      さんの投稿一覧
    
    - @posts.each do |post|
      .user_posts
        - simple_format(post.text)
        .post__text
          = post.text 
        .post__image
          = link_to "/posts/#{post.id}" do
            = image_tag "#{post.image}", :width => '500', :height => '400'
        .post__bottom-navi         
          .post__date
            = post.created_at.to_s(:datetime_jp)
          .like-counts
            - if post.likes_count.blank?
              = 0
            -else
              = post.likes_count

  .p-top__paginate= paginate @posts

      