.header 
  .header__bar
    = link_to root_path do
      %h.title ShareMe

.row_contents
  .row_contents__detail
    .row_contents__detail__image    
      = simple_format(@post.text)
      = image_tag @post.image, :width => '500', :height => '400'
    .option
      = render partial: 'likes/like', locals: { post: @post }


  .comments_input_form
    - if current_user
      = form_with(model: [@post, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p ※※※ いいね評価やコメントの投稿には新規登録/ログインが必要です ※※※

    
  .comments_all
    %h4 コメント一覧
    - if @comments
      - @comments.each do |comment|
        .comment-box
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}", class: "comment-name"
          ：
          .comment-text
            = simple_format comment.text
          .comment-date
            =comment.created_at.to_s(:datetime_jp)




